[defaults]
ansible_managed = Ansible managed: {file} modified on %Y-%m-%d %H:%M:%S by {uid} on {host}
inventory = inventory.yaml
timeout = 900

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=accept-new